{% load staticfiles %}
<ul class='list-group'>
{% for event in events %}
	<a href="/main/schedule/date/{{ event.id }}/">
		<li class='list-group-item activity_selection'>
			<div class='row'>
				<div class='col-md-2'>
					<img style='width: 100px; height: 100px;' src='/static/main/pasta_making.jpg' class='img-circle'></img>
				</div>
				<div class='col-md-8'>
					<h2 style='display:inline;'>{{event.title}}</h2>
					<p>Created On {{event.created_at}}</p>
				</div>
			</div>
		</li>
	</a>
{% endfor %}
</ul>
