{% extends 'main/base_normal.html' %}
{% load staticfiles %}
{% block main %}
<div class='profile_content'>
	<div class='container'>
		<div class='col-md-12' style='margin-top: 50px;'>
			<div class='row'>
				<div class='col-md-12'>
					<h2>Create A New Event</h2>
					<form role='form' method="post">
    						{% csrf_token %}
    						{{ form.as_p }}    					
						<button class='btn btn-info' style='width: 150px;'  type="submit">Save</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
               
